h1{
    text-align: center;
}

#bx1{
    border: 1px solid yellow;
    background-color:rgb(216, 216, 35);
    height: 50px;
    width: 100%;
    text-align:left;

    tex
}

#he3{
    text-align: center;
}

h2{
  text-align: center;
}