h2{
    text-align: center;
}

#h2{
  font-size: large;
  color: silver;
}
#pt{
    color: silver;
    font-size:large;
}

b{

}

#hcp{
    color: green;
}

#imb{
    height: 40px;
    width: 150px;
}

#imc{
    height: 40px;
    width: 150px;
}
